$color_1: #444444;
$color_2: var(--color-primary);
$color_3: #263d4d;
$color_4: var(--color-secondary);
$color_5: #fff;
$color_6: rgba(255, 255, 255, 0.9);
$color_7: rgba(255, 255, 255, 0.5);
$color_8: rgba(255, 255, 255, 0.8);
$color_9: var(--color-grisesito);
$color_10: var(--color-default);
$color_11: #5c8eb0;
$color_12: #365870;
$color_13: #ff4a17;
$color_14: white;
$color_15: #ffc1b0;
$color_16: #777777;
$color_17: #000;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: "Poppins", sans-serif;
$font-family_4: var(--font-secondary);
$background-color_1: var(--color-primary);
$background-color_2: var(--color-secondary);
$background-color_3: rgba(0, 0, 0, 0.5);
$background-color_4: #0A0A0A;
$background-color_5: #fff;
$background-color_6: #ff4a17;
$background-color_7: #eee;
$background-color_8: rgba(0, 0, 0, 0.6);
$background-color_9: #2db842;
$border-color_1: var(--color-primary);
$border-color_2: #eee;
$border-color_3: $color_17;
$border-top-color_1: #a1a1a1;
$border-top-color_2: #eee;
